@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0px 20px 0;
}

.section-p1 {
  padding: 40px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  overflow:hiden;
}

/*navbar start*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #1a1a1a;
  transition: 0.6 ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  position:absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;

}

/*navbar end*/
/*home start*/
#hero {
  background-image: url("images/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("images/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#features .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  background-color: #fddde4;
  color: #088178;
}

#features .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#features .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#features .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  border-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

/*home end*/
/*product start*/
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgba(243, 181, 25);
}

#product1 .pro .des h4 {
  font-size: 15px;
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  line-height: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/*banner start*/
#banner {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("images/b2.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
}

#banner h4 {
  color: white;
  font-weight: 700;
  padding-top: 10px;
}

#banner h2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#banner span {
  color: red;
}

#banner button {
  padding: 10px 35px;
  color: black;
  font-weight: 700;
  border-radius: 4px;
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("images/b17.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  min-width: 580px;
  height: 50vh;
  padding: 30px;
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: black border-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#sm-banner .b-2 {
  background-image: url("images/b10.jpg");
  margin-right: 100px;
}

#sm-banner .b-1 {
  margin-left: 100px;
}

#banner-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner-3 .banner-box {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("images/b7.jpg");
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  padding: 20px;
  margin-bottom: 20px;
}

#banner-3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner-3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#banner-3 .banner-box2 {
  background-image: url("images/b4.jpg");
}

#banner-3 .banner-box3 {
  background-image: url("images/b18.jpg");
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("images/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter input {
  height: 3.125rem;
  padding: 0.125rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#newsletter .normal {
  background-color: #088178;
  color: white;
  white-space: no nowrap;
  width: 25%;
}

#newsletter .form {
  display: flex;
  width: 40%;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  padding-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin: 0 0 8px 0;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
border: 1px solid #088178;
border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,footer a:hover{
  color: #088178;
}
#close
{
  display: none;
}
/*start media query*/
@media  (max-width:600px) {
  .section-p1{
    padding: 40px 40px;
  }
#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(255, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }

  #navbar li{
    margin-bottom: 25px;
  }
  #navbar .active{
    right: 0px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 24px;
  }
  #hero {

    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #features {

    justify-content: center;

  }
  #features .fe-box {

    margin: 15px 15px;
  }



}
